@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--main-color);
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: flex;
  }
}

.modile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.modile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.modile-nav__link--current {
  color: var(--color-link);
}

.modile-contact {
  margin-top: auto;
  margin-bottom: 64px;
}

.modile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.modile-contact__link-tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-link);
}

.modile-contact__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-tipe);
}

.mobile-social {
  display: flex;
  align-items: center;
}

.mobile-social__item {
  position: relative;
}

.mobile-social__item:not(:last-child) {
  margin-right: 20px;
}

.mobile-social__item:not(:last-child)::after {
  position: absolute;
  content: '';
  height: 22px;
  width: 0px;
  right: -10px;
  top: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-link);
}

.modal-menu__close-button {
  position: absolute;
  right: 21px;
  top: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  fill: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu__close-button:focus, .modal-menu__close-button:hover {
  fill: var(--color-link);
}

:root {
  --text-color: #212121;
  /*коричневый*/
  --color-link: #2196f3;
  /*голубой*/
  --color-tipe: #757575;
  /*серый*/
  --main-color: #ffffff;
  /*белый*/
  --color-font: #2f303a;
  /*темно серый*/
  --color-icons: #afb1b8;
  /*светло-серый*/
  --bg-color-light: #f5f4fa;
  /*cветло-светло-серый*/
  --opposite-basic-color: #000000;
  /*черный*/
  --card-set-gap: 30px;
  --primary-bg-color: #fff;
  /*cлоновая кость*/
  --clients-bg-color: #e5e5e5;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --logo-color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.15;
  font-style: normal;
  color: var(--text-color);
  letter-spacing: 0.03em;
  animation-duration: 1000ms;
  animation-iteration-count: 2;
}

.header__logo {
  margin-right: 93px;
}

.logo--accent {
  color: var(--color-link);
}

.footer-logo {
  justify-content: center;
  color: var(--main-color);
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  font-style: normal;
  letter-spacing: 0.03em;
}

.footer-logo-accent {
  color: var(--main-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  /* transition: opasity 500ms var(--cubic); */
  transition: opacity 500ms var(--cubic), visibility 500ms var(--cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 320px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms var(--timing-function), visibility 500ms var(--timing-function);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms var(--cubic) 0ms;
}

.modal-btn__close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  color: var(--color-tipe);
  transition: color 250ms var(--cubic);
}

.modal-btn__close:hover, .modal-btn__close:focus {
  fill: var(--color-link);
  outline: none;
}

@media screen and (max-width: 767px) {
  .modal-btn__close {
    top: 8px;
    right: 8px;
  }
}

.btn-close {
  width: 11px;
  fill: var(--logo-color);
}

.modal__title {
  display: box;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.hero__title {
  color: var(--main-color);
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-color: var(--text-color);
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-img-mobile.jpeg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-img-mobile@2x.jpeg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-img-tablet.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 768px 400px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-img-tablet@2x.jpeg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-img-desktop.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-img-desktop@2x.jpeg);
  }
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  color: var(--main-color);
  background-color: var(--color-link);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: var(--color-tipe);
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form {
  width: 270px;
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  .form {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
  }
}

.form__title {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-top: 12px;
  margin-bottom: 4px;
  color: var(--color-tipe);
}

.form__input {
  width: 100%;
  margin: 0;
  padding: 11px 16px 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  color: var(--text-color);
  font-size: 14px;
  transition: border-color 250ms var(--cubic), color 250ms var(--cubic);
}

.form__input:focus {
  border-color: var(--color-link);
  outline: none;
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  fill: currentColor;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
}

.form__icon:hover, .form__icon:focus {
  fill: var(--color-link);
  cursor: pointer;
}

.form__comment {
  resize: none;
  width: 100%;
  height: 110px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.01em;
  transition: border-color 250ms var(--cubic);
  color: var(--main-color);
  /* text-transform: uppercase; */
}

.form__comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:hover, .form__comment:focus {
  fill: var(--color-link);
  border-color: var(--color-link);
  outline: none;
}

.field {
  margin-bottom: 20px;
}

.form__input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form__checkbox-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  background-color: var(--color-link);
}

.modal-form__checkbox-custom {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-color);
  border-radius: 4px;
  margin-right: 8px;
}

.modal-form__checkbox-check-icon {
  visibility: hidden;
}

.modal-form__checkbox-hidden:checked + .modal-form__checkbox-custom {
  background-color: var(--color-link);
  border: 0;
  background-origin: border-box;
}

.modal-form__checkbox-hidden:focus + .modal-form__checkbox-custom {
  outline: var(--color-link) 1px solid;
}

.modal-form__checkbox-hidden:checked
+ .modal-form__checkbox-custom
> .modal-form__checkbox-check-icon {
  visibility: visible;
}

.modal-form__checkbox-text {
  font-size: 12px;
  line-height: 0.86;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal-form__checkbox-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__checkbox-link {
  color: var(--color-link);
}

.modal__form-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  align-self: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  color: var(--primary-bg-color);
  background-color: var(--color-link);
  border-radius: 4px;
  border: none;
  display: inline-block;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 250ms var(--cubic);
}

.modal__form-btn:hover, .modal__form-btn:focus {
  background-color: var(--color-link);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  color: var(--logo-color);
  transition: color 250ms var(--cubic);
}

.modal__close:hover > .modal__icon,
.modal__close:hover:focus > .modal__icon {
  fill: var(--color-link);
  outline: none;
}

@media screen and (max-width: 767px) {
  .modal__close {
    top: 103px;
    right: 25px;
  }
}

.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-icons);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.social__link:hover, .social__link:focus {
  background-color: var(--color-link);
}

.social__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  color: var(--primary-bg-color);
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu-container {
  position: relative;
  min-height: 200px;
  padding-top: 48px;
  padding-left: 40px;
}

.header .container,
.menu__list {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 88px;
}

.contacts__link {
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 94px;
  }
  .menu {
    padding: 0;
  }
  .contacts__link {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color);
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
}

.menu__link:hover, .menu__link:focus {
  color: var(--color-link);
}

.menu__link-current {
  color: var(--color-link);
}

.menu__link-current::after {
  position: absolute;
  content: '';
  display: block;
  width: 101%;
  height: 4px;
  background-color: var(--color-link);
  border-radius: 2px;
  bottom: -36px;
  transition: opasity 250ms var(--cubic);
}

.burger-btn {
  line-height: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.burger-btn__icon {
  fill: var(--text-color);
  transition: fill 250ms var(--cubic);
}

.burger-btn__icon:hover, .burger-btn__icon:focus {
  fill: var(--color-link);
}

@media screen and (min-width: 768px) {
  .burger-btn__icon {
    display: none;
  }
}

.contacts {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    align-items: center;
  }
}

.contacts__aligment {
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    position: relative;
  }
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-tipe);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--color-link);
  fill: var(--color-link);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.section__features {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color);
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-tipe);
}

.features__list:not(:last-child) {
  margin-bottom: 30px;
}

.features__icon {
  display: block;
  width: 70px;
  height: 70px;
}

.features__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  .features__list {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section__features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features {
    display: flex;
  }
  .features__list {
    width: calc((100% - 120px) / 4);
    margin-right: 30px;
  }
  .features__list:last-child {
    margin-right: 0px;
  }
  .features__list:not(:last-child) {
    margin-bottom: 0;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 95px;
    padding-bottom: 95px;
  }
}

.clients .section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.clients__list {
  flex-wrap: wrap;
  display: flex;
}

@media screen and (min-width: 768px) {
  .clients__list {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.clients__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-top: 30px;
  width: 100%;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
    width: 170px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__item .clients__link {
  color: var(--color-icons);
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 250ms var(--cubic), border-color 250ms var(--cubic);
}

.clients__item .clients__link:hover, .clients__item .clients__link:focus {
  color: var(--color-link);
  border-color: var(--color-link);
}

.clients__item .clients__icon {
  fill: currentColor;
}

.clients__item .clients__icon:hover, .clients__item .clients__icon:focus {
  color: var(--color-link);
  border-color: var(--color-link);
}

.container-portfolio {
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio-header {
  border-bottom: 1px solid #ececec;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-picture-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.portfolio-text {
  color: var(--color-tipe);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.picture {
  align-items: center;
}

@media screen and (min-width: 768px) {
  .picture {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.picture-item {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .picture-item {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .picture-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 768px) {
  :last-child {
    margin-bottom: 0;
  }
  :hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.picture-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: currentColor;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.legend {
  flex-grow: 1;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
  padding-right: 0;
}

.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-color);
  padding: 63px 24px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  margin: 0;
  /* overflow-y: scroll; */
  transform: translateY(100%);
  opacity: 1;
  transition: transform 250ms var(--cubic);
  overflow: hidden;
}

.picture-link:hover .overlay,
.picture-link:focus .overlay {
  transform: translateY(0);
}

@media screen and (min-width: 480px) {
  .overlay {
    padding-top: 76px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    padding-top: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding-top: 62px;
  }
}

.picture-item-wrapper {
  position: relative;
  overflow: hidden;
}

.picture-item-wrapper:hover .overlay,
.picture-item-wrapper .picture-link:focus .overlay {
  transform: translateX(0%);
}

.portfolio-img {
  display: block;
}

.portfolio-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .portfolio-btn {
    justify-content: center;
  }
}

.portfolio-list-btn:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.portfolio-list-item-btn {
  border: none;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--bg-color-light);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.portfolio-list-item-btn:hover, .portfolio-list-item-btn:focus {
  background-color: var(--color-link);
  color: var(--main-color);
}

.service-space {
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .service-space {
    display: none;
  }
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--text-color);
}

.service {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.service__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.service-wrapper {
  position: relative;
}

.service__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 82px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.command {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-light);
}

.team-section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team__item {
  margin-bottom: 30px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.member {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.member__name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--text-color);
}

.member__position {
  margin-bottom: 16px;
  font-weight: 400;
  color: var(--color-tipe);
}

.team-list-img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .team__item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .command {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team {
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .team__item {
    width: calc((100% - 120px) / 4);
    margin-right: 30px;
  }
}

.footer {
  background-color: var(--color-font);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer-nav {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscribe {
    margin-top: 60px;
  }
}

.footer-adress-mail,
.footer-adress-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress {
  font-family: 'Roboto';
  color: var(--main-color);
}

.footer-adress-item {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .footer-adress-item {
    margin-bottom: 9px;
  }
}

.footer-list-item {
  margin-bottom: 8px;
}

.footer-list-item:last-child {
  margin-bottom: 60px;
}

.footer-list-item {
  margin-bottom: 8px;
}

.footer-list-item:last-child {
  margin-bottom: 60px;
}

.footer-social-title,
.subscribe-title {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
  }
  .footer-adress-wrapper {
    margin-bottom: 60px;
  }
}

.footer-social-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--cubic);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--color-link);
}

.submit-btn {
  min-width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
  padding: 10px 28px 10px 29px;
  color: var(--main-color);
  background-color: var(--color-link);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--cubic);
  border-radius: 4px;
  align-items: center;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  cursor: pointer;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--main-color);
}

.subscribe-email {
  width: 358px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
}

.subscribe-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
}

.subscribe-icon {
  display: block;
  min-width: 24px;
  min-height: 24px;
  margin-left: 10px;
  fill: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrapper {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
  .subscribe-form {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: flex;
  }
  .footer-social {
    margin-left: 70px;
  }
  .footer-subscribe {
    margin-left: auto;
  }
  .subscribe-email {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
  .subscribe-form {
    display: flex;
  }
  .footer-adress-wrapper,
  .subscribe-title,
  .footer-social-title {
    text-align: initial;
  }
  .footer-adress-item:last-child {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */