.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;

  padding: 93px 15px;
  overflow-y: scroll;

  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);

  &.is-hidden {
    transition: all 250ms var(--cubic);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: 'Raleway', sans-serif;
}
