.logo {
  font-family: Raleway;

  @include font(26px, 700, 30px);
  font-style: normal;
  color: var(--text-color);
  letter-spacing: 0.03em;

  animation-duration: 1000ms;
  animation-iteration-count: 2;

  margin-right: 92px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.header__logo {
  margin-right: 93px;
}

.logo--accent {
  color: var(--color-link);
}

.footer-logo {
  justify-content: center;

  color: var(--main-color);
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  font-style: normal;

  letter-spacing: 0.03em;
}

.footer-logo-accent {
  color: var(--main-color);
}
