.footer {
  background-color: var(--color-font);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer-nav {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscribe {
    margin-top: 60px;
  }
}

.footer-adress-mail,
.footer-adress-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress {
  font-family: 'Roboto';
  color: var(--main-color);
  // font-style: normal;
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
}

.footer-adress-item {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 9px;
  }
}

.footer-list-item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 60px;
  }
}

.footer-list-item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 60px;
  }
}

.footer-social-title,
.subscribe-title {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

// .footer-social {
//   width: 206px;
// }

@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
  }
  .footer-adress-wrapper {
    margin-bottom: 60px;
  }
}

.footer-social-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  @include flex-center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--color-link);
  }
}

.submit-btn {
  min-width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
  padding: 10px 28px 10px 29px;
  color: var(--main-color);
  background-color: var(--color-link);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--cubic);
  border-radius: 4px;
  align-items: center;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  cursor: pointer;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--main-color);
}

.subscribe-email {
  width: 358px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
  }
}

.subscribe-icon {
  display: block;
  min-width: 24px;
  min-height: 24px;
  margin-left: 10px;
  fill: #fff;
}

// @media screen and (min-width: 768px) and (max-width: 1199px) {
//   .footer-subscribe {
//     margin-top: 60px;
//   }
// }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrapper {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
    // width: 600px;
    margin: 0 auto;
  }

  .subscribe-form {
    // display: flex;
    // flex-direction: column;
    // margin: 0 auto;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: flex;
  }

  .footer-social {
    margin-left: 70px;
  }

  .footer-subscribe {
    margin-left: auto;
  }

  .subscribe-email {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }

  .subscribe-form {
    display: flex;
  }

  .footer-adress-wrapper,
  .subscribe-title,
  .footer-social-title {
    text-align: initial;
    // margin-bottom: 60px;
  }

  .footer-adress-item:last-child {
    margin-bottom: 0;
  }
}

// .footer-adress-mail,
// .footer-adress-tel {
//   font-style: normal;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   font-family: 'Roboto';
//   color: rgba(255, 255, 255, 0.6);

//   display: block;
//   margin-top: 9px;
// }

// .footer-adress-mail:hover,
// .footer-adress-tel:hover,
// .footer-adress-mail:focus,
// .footer-adress-tel:focus {
//   color: var(--color-link);
// }

// /* .footer-address-list .footer-address-item+.footer-address-item {
//     margin-top: 9px;
// } */

// /* FOOTER ICONS */

// // .footer-wrapper {
// //     display: flex;
// // }

// .footer-social {
//   margin-left: 70px;
// }

// .footer-social-title {
//   margin-bottom: 20px;
//   font-weight: 500;
//   font-style: normal;
//   font-size: 14px;
//   line-height: 1.17;
//   color: var(--main-color);
//   text-transform: uppercase;
// }

// .footer-social-list {
//   display: flex;
// }

// .footer-item {
//   /* margin-top: 16px; */
//   margin-left: 10px;
// }

// .footer-social-link {
//   background-color: rgba(255, 255, 255, 0.1);
// }

// .footer-social-icon {
//   fill: var(--main-color);
// }

// /* FOOTER SUBSCRIBE */

// . {
//   footer-subscribemargin-left: 98px;
// }

// .subscribe-title {
//   margin-bottom: 20px;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.42;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--main-color);
// }

// .subscribe-form {
//   display: flex;
// }

// .subscribe-email {
//   width: 358px;
//   margin-right: 12px;
//   padding: 15px 16px;

//   background-color: transparent;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   box-sizing: border-box;
//   /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */

//   border-radius: 4px;

//   color: var(--main-color);
//   font-size: 16px;
//   line-height: 1.25;
// }

// .subscribe-email::placeholder {
//   color: rgba(255, 255, 255, 0.6);
// }

// .submit-btn {
//   display: inline-flex;
//   color: var(--main-color);
//   background-color: var(--color-link);
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.8;
//   border: none;
//   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
//   transition: background-color 250ms var(--cubic);
//   border-radius: 4px;
//   align-items: center;
//   padding-top: 10px;
//   padding-right: 28px;
//   padding-bottom: 10px;
//   padding-left: 29px;
//   cursor: pointer;
// }

// .icon-send {
//   width: 24px;
//   height: 24px;
//   margin-left: 10px;
//   fill: var(--main-color);
// }
